.news_container {
    display: flex;
    flex-direction: column;
    margin: 20px 0
}

.news_container_with_image {
    display: flex;
    flex-direction: column;
}

.news_title {
    color: #3E3E3E;
    opacity: 1;
    font-weight: 900;
}

.news_container_detials {
    display: flex;
    line-height: 16px;
    margin: 5px 0;
}

.news_container_detials_alt {
    display: flex;
    flex-direction: column;
    line-height: 16px;
    margin: 0;
}

.news_container_detials_alt_item {
    padding: 5px 0;
}

.news_container_detials {
    display: flex;
    line-height: 16px;
    margin: 5px 0;
}

.news_item {
    margin-bottom: 3px
}

.news_hr {
    border-style: dashed;
    border-color: #F0F0F0;
    border-width: 0 0 1px 0;
    width: 30%;
    height: 1px;
    margin-left: 0;
}