.event_search_page_container {
    display: flex;
}

.event_search {
    margin: 40px 0;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.search_container_input {
    width: 320px;
    height: 45px;
    margin-right: 10px;
    margin-top: -10px;
}
.selected_search_display{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.event_drop_down {
    border: 1px solid #BBBBBC;
    width: 260px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
    flex-wrap: wrap;
    margin-right: 10px;


}

.event_drop_down_arrow {
    color: #BF6E98 !important;
    font-size: 20px;
    float: right;
}

.event_date_picker {
    width: 260px;
    height: 55px;
    border-radius: 20px;
    padding: 0 15px;
    border-color: #BBBBBC;
}

.event_search_page_sec_one {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.event_search_monthly_result {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 40px 5% 20px 5%;
}

.event_search_month {
    color: #6F6F6F;
    font-family: AvenirNextBold;
}

.event_search_monthly_result_card {
    display: flex;
    justify-content: center;
}

.event_search_monthly_result_card_date {
    width: 10%;
    min-width: 95px;
    display: flex;
    flex-direction: column;
    color: #A2005A !important;
    margin-top: 50px;
    margin-right: 10px;
    text-align: center;
}



.event_search_page_sec_two {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    border-width: 0 0 0 1px;
    border-style: solid;
    margin-top: 40px;
    border-color: #F0F0F0;
}

.event_search_back_to_top {

    font-family: AvenirNext;
    color: #363636 !important;
    position: sticky;
    position: -webkit-sticky;
    bottom: 15px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 6px;
    margin: 15px;
}

.search_result_title {
    margin: 15px 0 5px 0;
}

.search_result_type {
    display: flex;
    flex-direction: column;
}

.search_result_item:hover{
    color: #AD3372 !important;
    font-size: 17px;
    line-height: 23px;
    font-family: AvenirNextBold;
}

@media screen and (max-width: 1294px) {

    .event_date_picker {
        margin-right: 0;
        margin-top: 10px;
        width: 320px
    }
}

@media screen and (max-width: 905px) {
    .event_drop_down {
        margin-right: 0;
        margin-top: 10px;
        width: 320px
    }

    .search_container_input {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 820px) {

    .event_search_page_container {
        display: flex;
        flex-direction: column;
    }

    .event_search_page_sec_two {
        visibility: hidden;
        width: 0px;
        height: 0px;
        display: none;
    }

    .event_search_page_sec_one {
        width: 100%
    }

    .event_search_monthly_result_card_date {
        width: 0px;
        display: none;
    }

    .event_search_month {
        width: 100%
    }

    .event_search_monthly_result {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 40px 5% 20px 5%;
    }

    .event_search_monthly_result_card {
        width: 50%
    }

    .event_search {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .event_drop_down,
    .event_date_picker,
    .search_container_input {
        width: 100%;
    }

}



@media screen and (max-width: 620px) {
    .event_search_monthly_result_card {
        width: 100%
    }

    .search_container_input {
        margin-right: 0;
        margin-bottom: 5px;
        width: 90%;
    }

    .event_search {
        width: 100%;
        display: flex;
    }

    .event_drop_down,
    .event_date_picker {
        width: 90%;
    }

}