.event_search_page_container {
    display: flex;
}

.event_search {
    align-self: start;
    width: 80%;
}

.event_search_page_sec_one {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.event_search_monthly_result {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 40px 5% 20px 5%;
}

.event_search_month {
    color: #6F6F6F;
    font-family: AvenirNextBold;
}

.event_search_monthly_result_card {
    display: flex;
    justify-content: center;
}

.event_search_monthly_result_card_date {
    width: 10%;
    min-width: 95px;
    display: flex;
    flex-direction: column;
    color: #A2005A !important;
    margin-top: 50px;
    margin-right: 10px;
    text-align: center;
}


.event_search_monthly_result_event_card {}

.event_search_page_sec_two {
    width: 20%;
    padding: 0px 40px;
    border-width: 0 0 0 1px;
    border-style: solid;
    margin-top: 40px;
    border-color: #F0F0F0;
}

.event_search_back_to_top {
    margin-right: 30px;
    font-family: AvenirNext;
    color: #363636 !important
}

@media screen and (max-width: 820px) {
    .event_search_page_container {
        display: flex;
        flex-direction: column;
    }

    .event_search_page_sec_two {
        visibility: hidden;
        width: 0px;
        height: 0px;
        display: none;
    }

    .event_search_page_sec_one {
        width: 100%
    }

    .event_search_monthly_result_card_date {
        width: 0px;
        display: none;
    }

    .event_search_month {
        width: 100%
    }

    .event_search_monthly_result {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 40px 5% 20px 5%;
    }

    .event_search_monthly_result_card {
        width: 50%
    }

}

@media screen and (max-width: 620px) {

    .event_search_monthly_result_card {
        width: 100%
    }

}