.container{
    display:flex;
    flex-direction: column;
    margin-top: 3%;
}
.carousel_container{
    width: 94%;
    padding: 40px 0;
    align-self: center
}
.carousel_container_arrow_right{
    cursor: pointer;
    width: 15px;
}
.carousel_container_arrow_left{
    cursor: pointer;
    width: 15px;
} 