.eventAd{
    background-image: url(../../../public/assets/featureBg.png);
    background-size: cover;
    padding: 20px;
    height: 25vw;
    background-position: center;
    color: #484848;
    position: relative;
    }
.title{
    text-align: center;
}
.copy{
    color:#484848 !important
}
.button{
    display: inline-block;
        color: #A2005A;
    padding: 12px;
    border: 1px solid #A2005A;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 10%;
}
@media screen and (max-width: 1205px){
    .copy{
        font-size: 14px !important;
        line-height: 18px;
    } 

} 
@media screen and (max-width: 1125px){
    .copy{
        font-size: 12px !important;
        line-height: 16px;
    } 

} 


@media screen and (max-width: 1060px){
    .eventAd{
        height: 30vw
    }
    .button{
       padding:6px;
       top: 80%;
       left: 5%;
    }
    .copy{
        max-width: 50%;
        line-height: 16px;
    } 
  
} 

@media screen and (max-width: 900px){
    .eventAd{
        height: 36vw
    }
} 
