.carousel_card_container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.carousel_card_container_inner {
    display: flex;
    width: 90%;
    justify-content: space-between;
    max-height: 413px;
    height: 25vw
}

.carousel_card_item_one {
    background-position: center;
    background-size: cover;
    width: 55%;
    height: inherit;
    border: 5px solid #fff;
}

.carousel_card_item_two {
    background-position: center;
    background-size: cover;
    width: 45%;
    height: inherit;
    border: 5px solid #fff;
}