.multimedia_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
    max-width: 1200px;
}

.multimedia_container_inner{
    display: flex;
    justify-content: space-evenly;
}
.media_section_one{
    width: 100%;
    margin-top : 20px;
 
}
.media_section_one_plus{
    margin-top : 20px;
    width: 48%;
    border: 1px solid red
}
.sec_one_image{
    width: 100%;
    object-fit: contain;
    height: 300px;
    cursor: pointer;
}
.media_section_three{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 48%;
    margin-top : 20px;
}
.sec_three_image{
    width: 100%;
    object-fit: cover;
    max-height: 145px;
    cursor: pointer;

}
.sec_three_image_plus{
    width:97%;
    object-fit: cover;
    max-height: 145px;
    cursor: pointer;
}
.play_button{
    position: absolute;
    font-size: 50px;
}
.multimedia_container_video{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} 

.media_section_three_top{
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    width: 100%;
}

.sec_four_image{
    object-fit: cover;
    cursor: pointer;
    height: 145px;

}