.partnership_container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.partnership_form_item ::placeholder {
    color: #8B8B8B
}

.partnership_form_item {
    width: 400px !important;
    border-radius: 0px !important;
    border: 1px solid #D6D6D6;
    padding: 10px 10px;
    outline: none;
}

.partnership_form_item_select {
    width: 400px !important;
    border-radius: 0px !important;
    border-color: #D6D6D6 !important;
    outline: none !important;

}

.partnership_form_item_text {
    width: 400px !important;
    padding: 10px 10px;
    height: 100px;
    border-radius: 0px !important;
    border: 1px solid #D6D6D6;
    display: flex;
    justify-content: flex-start;
    outline: none;
}

.partnership_form_item_base:hover {
    outline: #D6D6D6 !important;
    border-color: #D6D6D6 !important;
}

.partnership_form_item_base:focus {
    outline: #D6D6D6 !important;
    border-color: #D6D6D6 !important;
}

.section_two {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 50px;
}

.copy {
    color: #373737 !important;
    margin: 10px 0 8px;
    opacity: 0.8;
}

.list {
    width: 250px;
    margin-top: 10px;
    padding-left: 18px;
    color: #41438F !important;
    font-size: 16px;
    font-weight: 700;
    font-family: AvenirNext;
}

.submit_container {
    height: 400px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 820px) {
    .partnership_container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .section_two {
        align-items: center;
        text-align: center;
        margin-left: 0;
    }

    .section_one {
        text-align: center;
    }

    .list {
        list-style-type: none;
        padding-left: 0;
    }

    .button {
        align-self: center;
    }

    .submit_container {
        width: 80%
    }
}

@media screen and (max-width: 450px) {
    .partnership_form_item {
        width: 350px !important;

    }

    .partnership_form_item_select {
        width: 350px !important;
        text-align: left;

    }

    .partnership_form_item_text {
        width: 350px !important;

    }
}

@media screen and (max-width: 320px) {
    .partnership_form_item {
        width: 300px !important;

    }

    .partnership_form_item_select {
        width: 300px !important;


    }

    .partnership_form_item_text {
        width: 300px !important;

    }
}