.modal_base_container{
    display: flex;
    justify-content: center !important;
    width: 100% !important;
}
.modal_container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 30px;
}
.sign_up_prompt{
    color: #A2005A !important;
    cursor: pointer;
}
.sign_up_container{
    margin-top: 10px;
}
.form_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}
.form_item{
    width: 400px !important;
    border-radius: 0px !important;
    border: 1px solid #D6D6D6;
    padding: 10px 10px;
    outline: none;
}
.form_item_select{
    width: 400px !important;
    border-radius: 0px !important;
    border-color: #D6D6D6 !important;
    outline: none !important;
    
}
.form_item_text{
    width: 400px !important;
    padding: 10px 10px;
    height: 100px;
    border-radius: 0px !important;
    border: 1px solid #D6D6D6;
    display: flex;
    justify-content: flex-start;
    outline: none;
}
.button{
    align-self: center;
}
.reset_prompt{
    color: #797979 !important;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.note_container{
    height: 200px;
    text-align: center;
    padding-top: 30px;
}
.modal__error_container{
    margin: 20px 0;
}
@media screen and (max-width: 600px){
    .modal_container{

        width: 100%;
    }
}
@media screen and (max-width: 450px){
    .form_item{
        width: 300px !important;
    
    }
    .form_item_select{
        width: 300px !important;
  
        
    }
    .form_item_text{
        width: 300px !important;

    }
}
@media screen and (max-width: 320px){
    .form_item{
        width: 260px !important;
    
    }
    .form_item_select{
        width: 260px !important;
  
        
    }
    .form_item_text{
        width: 260px !important;

    }
}