
.ant-menu{
    transition: none !important;
    -webkit-transition: none !important
}
.ant-menu-submenu-title{
    transition: none !important;
}
.ant-menu-submenu-open{
    transition: none !important;
}
.ant-menu-submenu-open{
    color:  #363636  !important;
    border: none !important;
    transition: none !important;
    text-decoration: none !important;
    border-bottom: none !important;
    --antd-wave-shadow-color: #363636 !important;
}

 .ant-menu-submenu-title:hover{
    color:  #363636  !important;
    transition: none !important;
    border: none !important;
    text-decoration: none !important;
    border-bottom: none !important;
    --antd-wave-shadow-color: #363636 !important;
}

.ant-menu-item{
    color:  #363636  !important;
    border: none !important;
    text-decoration: none !important;
    transition: none !important;
    border-bottom: none !important;
    --antd-wave-shadow-color: #363636 !important;
} 
.ant-menu-item-active{
    color:  #363636  !important;
    border: none !important;
    text-decoration: none !important;
    border-bottom: none !important;
    --antd-wave-shadow-color: #363636 !important;
    transition: none !important;
} 
.ant-menu-submenu-selected{
    color:  #363636  !important;
    border: none !important;
    text-decoration: none !important;
    border-bottom: none !important;
    transition: none !important;
}
::selection{
    color:  #363636  !important;
    background: none !important;
    text-decoration: none !important;
    transition: none !important;
}