.ant-menu {
    transition: none !important;
    -webkit-transition: none !important
}

.ant-menu-submenu-title {
    transition: none !important;
}

.ant-menu-submenu-open {
    transition: none !important;
}

.ant-menu-submenu-open {
    color: #363636 !important;
    border: none !important;
    transition: none !important;
    text-decoration: none !important;
    border-bottom: none !important;
    --antd-wave-shadow-color: #363636 !important;
}

.ant-menu-submenu-title:hover {
    color: #363636 !important;
    transition: none !important;
    border: none !important;
    text-decoration: none !important;
    border-bottom: none !important;
    --antd-wave-shadow-color: #363636 !important;
}

.ant-menu-item {
    color: #363636 !important;
    border: none !important;
    text-decoration: none !important;
    transition: none !important;
    border-bottom: none !important;
    --antd-wave-shadow-color: #363636 !important;
}

.ant-menu-item-active {
    color: #363636 !important;
    border: none !important;
    text-decoration: none !important;
    border-bottom: none !important;
    --antd-wave-shadow-color: #363636 !important;
    transition: none !important;
}

.ant-menu-submenu-selected {
    color: #363636 !important;
    border: none !important;
    text-decoration: none !important;
    border-bottom: none !important;
    transition: none !important;
}

::selection {
    color: #363636 !important;
    background: none !important;
    text-decoration: none !important;
    transition: none !important;
}

.searchPage .ant-input {
    max-height: 55px !important;
    outline: none !important;
    box-shadow: none !important;
    border-color: #BBBBBC !important;
    border-radius: 20px 0px 0px 20px !important;
}

.ant-input {
    height: 58px !important;
    outline: none !important;
    box-shadow: none !important;
    border-color: #BBBBBC !important;

    border-radius: 10px 0px 0px 10px !important;
}

.ant-select {
    outline: none !important;
    border: none !important;

}

.ant-select:hover {
    outline: none !important;
    border: none !important;

}

.ant-btn-primary {
    height: 58px;
    color: inherit !important;
    background: white !important;
    border-color: #BBBBBC !important;
    border-left: none !important;
    border-radius: 0px 10px 10px 0px !important;
}

.searchPage .ant-btn-primary {
    height: 55px;
    color: inherit !important;
    background: white !important;
    border-color: #BBBBBC !important;
    border-left: none !important;
    border-radius: 0px 20px 20px 0px !important;
}

html {
    --antd-wave-shadow-color: none !important;
    -webkit-tap-highlight-color: none !important;
}

.ant-tabs-tab-btn {
    font-size: 17px !important;
    line-height: 23px !important;
    font-family: AvenirNext !important;
    color: #454545 !important;

}

.ant-tabs-tab-btn:hover {
    color: #454545 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 17px !important;
    line-height: 23px !important;
    font-family: AvenirNextBold !important;
    color: #454545 !important;
}

.ant-tabs-ink-bar {
    background: #BF6E98 !important
}

.ant-tabs-nav {
    width: fit-content;
    border-bottom: 1px solid #E8E8E8;
    color: #E8E8E8;
}

.ant-tabs>.ant-tabs-nav .ant-tabs-nav-more,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-more {
    display: none !important;
}

.ant-select-selector {
    align-items: center !important;
}

.ant-select-selector ::placeholder {
    color: #8B8B8B !important;
    font-size: 16px !important;
    line-height: 44px !important;
    font-family: AvenirNext !important;
}

.ant-select-focused {
    outline: none !important;
}

.ant-form-item:hover {
    outline: none !important;
}

.ant-form-item:focus {
    outline: none !important;
}

.ant-form-item-control-input {
    align-self: center !important;

}

.ant-picker-suffix {
    color: #BF6E98 !important;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    color: black !important;
    font-size: 16px !important;
    font-weight: 800;
    line-height: 22px !important;
    font-family: AvenirNext !important;
}

/* .ant-select-item-option-content{
    background: white !important;
} */
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: white;

}

.ant-select-item {
    padding: 5px 0px;
    margin: 0px 12px;
    background-color: white;
}
.ant-input-group .ant-input{
    line-height: 42px !important;
    color: #3E3E3E !important;
}

.ant-select-selector{
    height: 45px !important

}
.ant-input-group .ant-input::selection {
    background: rgb(161, 179, 216) !important;
  
  }
  .ant-picker-separator{
      display: none;
  }
@media screen and (max-width: 1100px) {
    .ant-tabs-nav {
        width: auto;

    }
}

@media screen and (max-width: 600px) {
   .ant-picker-panel-container .ant-picker-panels{
       flex-direction: column !important;
   }
   .ant-picker-panel-container{
    margin-left: 16px !important;
    width: 90% !important;
    text-align: center !important;
   }
}

@media screen and (max-width: 520px) {
    .ant-select-selector ::placeholder {
        color: #8B8B8B !important;
        font-size: 16px !important;
        line-height: auto !important;
        font-family: AvenirNext !important;
    }
}