.button_small_styled{
    color:#AD3372;
    background-color: white;
    border:1px solid #BF6E98;
    font-size: 17px;
    line-height: 23px;
    font-family: AvenirNextBold;
    padding: 5px 25px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
  }
  .button_small_styled:hover{
    color:white;
    background:#AD3372;
    border:1px solid #BF6E98;
    font-size: 17px;
    line-height: 23px;
    font-family: AvenirNextBold;
    padding: 5px 25px;
    border-radius: 10px;
    cursor: pointer;
  }

  .button_small_plain{
      background-color: white;
      border: none;
      font-size: 17px;
      line-height: 23px;
      font-family: AvenirNext;
      color: #3E3E3E;
      cursor: pointer;

  }