
.react-multi-carousel-dot button{
    background:#D8D8D8 !important;
    border: none !important;
}
.react-multi-carousel-dot--active button{
    background: #4B4FC6 !important;
    border: none !important;
    /* height: 8px !important; */
}