.typography_spartacus_one {
    font-size: 17px;
    line-height: 23px;
    font-family: AvenirNext;
}

.typography_spartacus_one_demi_bold {
    font-size: 16px;
    line-height: 22px;
    font-family: AvenirNext;
    font-weight: 700;
    color: #3E3E3E;
}

.typography_spartacus_one_bold {
    font-size: 17px;
    line-height: 23px;
    font-family: AvenirNextBold;
    color: #3E3E3E;

}

.typography_spartacus_two {
    font-size: 20px;
    line-height: 25px;
    font-family: AvenirNext;
}

.typography_spartacus_two_bold {
    font-size: 20px;
    line-height: 25px;
    font-family: AvenirNextBold;
    color: #454545
}

.typography_spartacus_three {
    font-size: 18px;
    line-height: 22px;
    font-family: AvenirNext;
}

.typography_spartacus_three_bold {
    font-size: 18px;
    line-height: 20px;
    font-family: AvenirNextBold;

}

.typography_spartacus_four {
    font-size: 15px;
    line-height: 20px;
    font-family: AvenirNext;
    color: #363636;
}
.typography_spartacus_four_italic{
    font-size: 15px;
    line-height: 20px;
    font-family: AvenirNext;
    font-style: italic;
    color: #A6A6A6;
}

.typography_spartacus_four_bold {
    font-size: 15px;
    line-height: 20px;
    font-family: AvenirNextBold;
    color: #A2005A;
}

.typography_spartacus_five_demi_bold {
    font-size: 20px;
    line-height: 20px;
    font-family: AvenirNext;
    font-weight: 600;
    color: #3E3E3E;
}

.typography_spartacus_six {
    font-size: 12px;
    line-height: 16px;
    font-family: AvenirNext;
    color: #41438F;
}

.typography_spartacus_six_bold {
    font-size: 12px;
    line-height: 16px;
    font-family: AvenirNextBold;
    color: #41438F;
}

.typography_spartacus_seven {
    font-size: 14px;
    line-height: 16px;
    font-family: AvenirNext;
    color: #888888;
}

.typography_spartacus_eight {
    font-size: 20px;
    line-height: 27px;
    font-family: AvenirNextBold;
    color: #1C1E54;
}

.typography_spartacus_eight_light {
    font-size: 20px;
    line-height: 27px;
    font-family: AvenirNext;
    color: #1C1E54;
}

.typography_spartacus_nine_demi_bold {
    font-size: 14px;
    line-height: 19px;
    font-family: AvenirNext;
    font-weight: 700;
    color: #A2005A;
}

.typography_spartacus_nine {
    font-size: 14px;
    line-height: 17px;
    font-family: AvenirNext;
    font-weight: 500;

    color: #3E3E3E;
}

.typography_spartacus_ten_italic {
    font-size: 13px;
    line-height: 16px;
    font-family: AvenirNext;
    font-style: italic;
    color: #6F6F6F;
}

.typography_spartacus_eleven {
    color: #A2005A;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 5px;
}

.typography_spartacus_twelve {
    padding-left: 5px;
    color: #3E3E3E;
    font-size: 12px;
}

.typography_spartacus_twelve_light {
    color: #3E3E3E;
    font-size: 13px;
    line-height: 15px;
}

.typography_spartacus_thirteen {
    font-size: 16px;
    line-height: 22px;
    font-family: AvenirNext;
    color: #4b4a4a;
    opacity: 0.8;
}

.typography_spartacus_thirteen_demi_bold {
    font-size: 16px;
    line-height: 22px;
    font-family: AvenirNext;
    font-weight: 700;
    color: #A2005A;
}

.typography_spartacus_fourteen {
    font-size: 12px;
    line-height: 14px;
    font-family: AvenirNext;
    color: #868686;
}

.typography_spartacus_fifteen {
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    font-family: AvenirNext;
    color: #535353;
}

.typography_spartacus_fifteen_italic {
    font-size: 14px;
    line-height: 19px;
    font-style: italic;
    font-family: AvenirNext;
    color: #686868;
}

.typography_spartacus_sixteen {
    font-size: 25px;
    line-height: 34px;
    font-family: AvenirNextBold;
    color: #1C1E54;
}

.typography_spartacus_seventeen_bold {
    font-size: 16px;
    line-height: 22px;
    font-family: AvenirNextBold;
    color: #41438F;
}

.typography_spartacus_eighteen_bold {
    font-size: 25px;
    line-height: 28px;
    font-family: AvenirNextBold;
    color: #9388C2;
}

.typography_spartacus_nineteen {
    font-size: 19px;
    line-height: 26px;
    font-family: AvenirNext;
    color: #363636;
    opacity: 0.8;
}

.typography_spartacus_twenty_demi_bold {
    font-size: 35px;
    line-height: 53px;
    font-family: AvenirNext;
    font-weight: 900;
    color: #373737;
}

@media screen and (max-width: 820px) {
    .typography_spartacus_seven {
        font-size: 13px;
    }
}