.typography_spartacus_one{
    font-size: 17px;
    line-height: 23px;
    font-family: AvenirNext;
}
.typography_spartacus_one_bold{
    font-size: 17px;
    line-height: 23px;
    font-family: AvenirNextBold;
}